<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- LOGO PORTION -->
    <h4 class="navbar-text">Sublet.io by</h4>
    <div class="navbar-header align-middle">
      <a class="navbar-brand" href="/sublet">
        <img src="/media/img/dmap.png" width="100" height="20" alt="LOGO">
      </a>
    </div>

    <!-- LOGIN BAR -->
    <ul class="nav navbar-nav pull-right">
    	<li><a href="/sublet/view"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Find listings</a></li>
    	<li><a href="/sublet/manage"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create/Manage listing</a></li>
    	<li><a href="/sublet/usermenu"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{user}}</a></li>
    	<li><a href="/sublet/logout"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span></a></li>
    </ul>    
  </div>
</nav>