<!DOCTYPE html>
<!-- Template by Quackit.com -->
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<title>Sublet.io | Welcome New User</title>

	<!-- Bootstrap Core CSS -->
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">

	<!-- Custom CSS: You can use this stylesheet to override any Bootstrap styles and/or apply your own styles -->
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">

</head>

<body>
	<div class="container">
		<h1>Welcome {{user.username}}</h1>
		<p>We have noticed you are a new user! Please provide information...</p>
		<p class="text-danger">{{error}}</p>
		
		<!-- START FORM -->
		<form class="col-md-6" action="/sublet/newuser/" method="POST">
			{% csrf_token %}
			<div class="form-group">
				<input class="form-control form-control-lg" type="text" name="first" placeholder="First Name">
			</div>
			<div class="form-group">
				<input class="form-control form-control-lg" type="text" name="last_name" placeholder="Last Name">
			</div>
			<button type="submit" class="btn btn-primary mb-2">Save Changes</button>
		</form>
		<!-- END FORM -->

		<div class="col-md-6 text-center">
			<a class="btn btn-primary btn-lg" href="/sublet/logout" role="button">Log Out</a>
		</div>  
	</div>

	

	
	<!-- jQuery -->
	{% load static %}
	<script type="text/javascript" src="{% static 'js/jquery-1.11.3.min.js' %}"></script>

	<!-- Bootstrap Core JavaScript -->
	{% load static %}
	<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
	
	<!-- IE10 viewport bug workaround -->
	{% load static %}
	<script type="text/javascript" src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>
	
	<!-- Placeholder Images -->
	{% load static %}
	<script type="text/javascript" src="{% static 'js/holder.min.js' %}"></script>
	
</body>

</html>
