<!DOCTYPE html>
<html>
    <head>
        <title>Sublet.io | View Listings</title>
        <!-- Bootstrap Core CSS -->
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">

        <!-- Custom CSS: You can use this stylesheet to override any Bootstrap styles and/or apply your own styles -->
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
        <style>
    body {
        background-color: #a3cfe3;
    }
    

</style>
    </head>
    <body>
        <div class="container">
            {% include "navbar.html" %}
            <div class="row">
                {% for listing in listings %}
                <div class="col-sm-6 col-md-4">
                    <div style="background-color: #134166" class="thumbnail">
                        <div>
                          <!-- Tab panes -->
                          <div class="tab-content">
                            {% load custom_filters %}
                            {% for image in listing.image_set.all %}
                            <div class="thumbnail">
                                <img src="data:{{image.c_type}};base64,{{image.data|bytes_to_base64}}" class="intro-pic" alt="{{image.name}}">
                            </div>
                            {% endfor %}
                          </div>
                        </div>

                        <div style="background-color: #0d2a42" class="caption">
                            <h2 style="color:white">${{ listing.rent }}</h2>
                            <h4 style="color:white">{{ listing.address }}</h4>
                            <p style="color:white">{{ listing.bedrooms }} BD | {{ listing.bathrooms }} BA</p>
                            <p style="color:white">{{ listing.distance }} mi from Campus</p>
                            <p style="color:white">Contact Subletter {{listing.owner.username}}</p>
                            <p style="color:white">E: {{listing.owner.email}}</p>
                            <p style="color:white">C: {{listing.owner.phone}}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        <!-- jQuery -->
        {% load static %}
        <script type="text/javascript" src="{% static 'js/jquery-1.11.3.min.js' %}"></script>

        <!-- Bootstrap Core JavaScript -->
        {% load static %}
        <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
        
        <!-- IE10 viewport bug workaround -->
        {% load static %}
        <script type="text/javascript" src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>
        
        <!-- Placeholder Images -->
        {% load static %}
        <script type="text/javascript" src="{% static 'js/holder.min.js' %}"></script>
    </body>
</html>