<!DOCTYPE html>
<html>
<head>
	<title>Sublet User Page</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<div class="jumbotron">
			<h1 class="display-4 text-center">Subletting.io User Page</h1>
			<p class="lead">Welcome to our service!</p>
			<hr class="my-4">
			<p>This application utilizes the RPI CAS Authentication system to leverage its services to users.</p>
			<p class="lead text-center">
				<a class="btn btn-primary btn-lg" href="/sublet/logout" role="button">Log Out</a>
			</p>
		</div>
	</div>
</body>
</html>